<!-- {{#if legislatorsBoolean}} -->
  test
  <div class="legislatorsDiv">
    {{#each model as |legislators|}}
      <div>
        {{legislators.first_name}} {{legislators.last_name}}
        <br>
        <p>{{legislators.phone}}</p>
      </div>
    {{/each}}
  </div>
<!-- {{/if}} -->

{{#if committeesBoolean}}
  test
{{/if}}

{{#if billsBoolean}}
  test
  <!-- <div class="billsDiv">
    <select>
      <option value="" {{action 'showAllBills'}}>Show All Bills</option>
      <option value="" {{action 'showHouseBills'}}>House Bills</option>
      <option value="" {{action 'showSenateBills'}}>Senate Bills</option>
    </select>
  </div> -->
{{/if}}
