{{type}}
<div>
  {{#each model as |legislators|}}
    <div>
      {{legislators.first_name}} {{legislators.last_name}}
      <br>
      <p>{{legislators.phone}}</p>
    </div>
  {{/each}}
</div>

<div>
  {{#each model as |committees|}}
    <div>
      {{committees.chamber}}
      {{committees.parent_committee}}
    </div>
  {{/each}}
</div>

<div>
  {{#each model as |bills|}}
    <div>
      {{bills.bill_id}}
      {{bills.scheduled_at}}
    </div>
  {{/each}}
</div>
